{% extends "_base.html" %}

{% block content %}

<table class="table table-striped">
    <thead>
        <td>Added</td>
        <td>Title</td>
        <td>Conference</td>
        <td>Video URL</td>
    </thead>

    <tbody>
        {% for video in videos %}
        <tr>
            <td>{{ video.added }}</td>
            <td>{{ video.title }}</td>
            <td>{{ video.conference }}</td>
            <td><a href="{{ video.url }}">Link</a></td>
        </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <td>Added</td>
        <td>Title</td>
        <td>Conference</td>
        <td>Video URL</td>
    </tfoot>
</table>

{% endblock %}